<footer id="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>MIA-Visual<span>.</span></h3>
            <p>
              209, Neungdong-ro <br>
              Gwangjin-gu, Seoul<br>
              Republic of Korea <br><br>
              <strong>Phone:</strong> 010-4691-4204<br>
              <strong>Email:</strong> matthew624@naver.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            </ul>
          </div>


          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="https://mia-visual.readthedocs.io/en/latest/" class="instagram"><i class="bx bx-file-earmark"></i></a>
              <a href="https://github.com/JooYoung-23/MIA-Visual" class="google-plus"><i class="bx bx-github"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        Designed by <a href="https://bootstrapmade.com/">MIA-Visual</a>
      </div>
    </div>
  </footer><!-- End Footer -->
